<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>やることリスト</title>
	<th:block th:include="common/includeCss"></th:block>
</head>	
<body>
	<br>
	<div class="header">
		<div class="container">
			<h3 class="main-title" th:text="やることリスト"></h3>
			<br>
			<ul class="nav nav-tabs" th:unless="${activeTab == 'menu'}">
				<li class="nav-item"><a class="nav-link border-right" href="#" id="search-page" th:classappend="${activeTab == 'search-page'} ? active">検索</a><li>
				<li class="nav-item"><a class="nav-link border-right" href="#" id="regist-page" th:classappend="${activeTab == 'regist-page'} ? active">登録</a><li>
			</ul>
		</div>
	</div>
	<br>

	<div id="contents" layout:fragment="contents">
		CONTENT-HERE
	</div>
	
	<th:block th:include="common/includeJs"></th:block>
	<th:block layout:fragment="pageScript">
		PAGESCRIPTS-HERE
	</th:block>
	
</body>
</html>